.main {
  width: 100vw;
  height: auto;
  display: flex;
}

.canvasContainer {
  width: 40vw;
  height: 100vh;
}

.buynow {
  border: 1px solid #7042f88b;
  box-shadow: inset 0 -7px 11px #a48fff1f;
  width: fit-content;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.buynow:hover {
  background-color: #7042f88b;
}

@media screen and (max-width: 768px) {
  .main {
    flex-direction: column;
  }

  .canvasContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 60vh;
  }
}
