.main{
    position: relative;
    z-index: 3;
    display: flex;
    height: 100vh;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 50vh;
    color: rgb(211, 211, 211);
}

.body{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    color: white;
}

.body p{
    font-size: 2vw;
    margin: 0px;
    margin-right: 1.5vw;
    font-weight: 700;
}

.body span{
    opacity: 0.2;
}

@media screen and (max-width: 600px){
    .main{
        top: 10vw;
        height: 50vh;
        margin-bottom: 10vh;
    }
    .body p{
        font-size: 4vw;
    }
}