.cursor{
  z-index: 50;
  position: fixed;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width:768px){
  .cursor{
    display: none;
  }
}