.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .contact-container{
        width: 50vw;
        height: auto;
        background: rgba(97, 0, 255, 0.04);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(97, 0, 255, 0.3);
        padding: 2vw;
    }
    
}
@media  screen and (max-width: 600px) {

    .container{
        margin-top: 20vw;

        .contact-container{
            width: 80vw;
            padding: 5vw;
        }
    }
}