.body {
	display: flex;
	flex-direction: column;
	position: absolute;
	transform-style: preserve-3d;
}

.textContainer {
	margin-top: 25rem;
	position: relative;
	cursor: pointer;
	transition: transform 0.4s;
	transform-style: preserve-3d;
}

.textContainer p {
	font-size: 6rem;
	font-weight: 900;
	margin: 0px;
	transition: all 0.4s;
	color: #ffffff;
	line-height: 1;
}

.textContainer .secondary {
	transform: rotateX(-90deg) translateY(3.5vw);
	transform-origin: bottom center;
	position: absolute;
	top: 0;
	color: blanchedalmond;
	opacity: 0;
}

.textContainer:hover {
	transform: rotateX(90deg);
}

.textContainer:hover .secondary {
	opacity: 1;
}

.textContainer:hover .primary {
	transform: translateY(-100%);
	opacity: 0;
}

@media only screen and (max-width: 425px) {
	.textContainer {
		margin-top: 20rem;
		position: relative;
		cursor: pointer;
		transition: transform 0.4s;
		transform-style: preserve-3d;
	}
	.textContainer p {
		font-size: 2.5rem;
		font-weight: 900;
		margin: 0px;
		transition: all 0.4s;
		color: #ffffff;
		line-height: 1;
	}
  }

/* ===== */
