@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap");
@import url("https://pham.codes/d/GeistMonoVF.woff2");
/* Roboto Font */
@import url("https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Roboto:wght@100;500;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@property --rotate {
	syntax: "<angle>";
	initial-value: 132deg;
	inherits: false;
}

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;

	--bg-gradient-color: rgb(108, 75, 205);
	--bg-gradient-redical: radial-gradient(
		circle,
		rgba(108, 75, 205, 1) 0%,
		rgba(57, 29, 139, 1) 100%
	);
	--bg-gradient-linear-down: linear-gradient(
		0deg,
		rgba(108, 75, 205, 1) 0%,
		rgba(57, 29, 139, 1) 100%
	);
	--bg-gradient-linear-up: linear-gradient(
		180deg,
		rgba(108, 75, 205, 1) 0%,
		rgba(57, 29, 139, 1) 100%
	);

	--card-width: calc(var(--card-height) / 1.5);
	--card-height: 65vh;

	--hoverEasing: cubic-bezier(0.23, 1, 0.32, 1);
	--returnEasing: cubic-bezier(0.445, 0.05, 0.55, 0.95);

	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

/** Hero Text Animation  **/
.text-box {
	color: transparent;
	-webkit-text-stroke: 2px rgb(255, 255, 255);
	background: url(/Bg.png);
	-webkit-background-clip: text;
	background-position: 0 0;
	animation: back 30s linear infinite;
}

@keyframes back {
	100% {
		background-position: 2000px 0;
	}
}
/** ================================================================ **/

/** Add the custom styles **/

.bg-gradient {
	background: var(--bg-gradient-color);
	background: var(--bg-gradient-redical);
}

.flip-card {
	position: relative;
	display: inline-flex;
	flex-direction: column;
	box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
	border-radius: 0.1em;
}

.top,
.bottom,
.flip-card .top-flip,
.flip-card .bottom-flip {
	height: 0.75em;
	width: 1.2em;
	line-height: 1;
	padding: 0.25em;
	overflow: hidden;
}

.top,
.flip-card .top-flip {
	background: var(--bg-gradient-color);
	background: var(--bg-gradient-linear-down);
	border-top-right-radius: 0.1em;
	border-top-left-radius: 0.1em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.bottom,
.flip-card .bottom-flip {
	background: var(--bg-gradient-color);
	background: var(--bg-gradient-linear-up);
	display: flex;
	align-items: flex-end;
	border-bottom-right-radius: 0.1em;
	border-bottom-left-radius: 0.1em;
}

.flip-card .top-flip {
	position: absolute;
	width: 100%;
	animation: flip-top 250ms ease-in;
	transform-origin: bottom;
}

@keyframes flip-top {
	100% {
		transform: rotateX(90deg);
	}
}

.flip-card .bottom-flip {
	position: absolute;
	bottom: 0;
	width: 100%;
	animation: flip-bottom 250ms ease-out 250ms;
	transform-origin: top;
	transform: rotateX(90deg);
}

@keyframes flip-bottom {
	100% {
		transform: rotateX(0deg);
	}
}

.container-segment {
	display: flex;
	flex-direction: column;
	gap: 0.1em;
	align-items: center;
}

.segment {
	display: flex;
	gap: 0.1em;
}

/** ================================================================ **/
.bg-blur {
	backdrop-filter: blur(.5px);
	background: rgba(0, 0, 0, 0);
}
