.brochure{
    border: 1px solid #7042f88b;
    height: 2.8vw;
    width: fit-content;
    padding: 0 1vw;
    font-size: 1.5vw;
    box-shadow: inset 0 -7px 11px #a48fff1f;
    border-radius: .5vw;

    &:hover{
        background-color: #a48fff1f;
    }
}

.header{
    .button {
        isolation: isolate;
        overflow: hidden;
        opacity: 0.9;
        -webkit-backdrop-filter: blur(6px);
        backdrop-filter: blur(6px);
        border: 1px solid #7042f88b;
        box-shadow: inset 0 -7px 11px #a48fff1f;
        position: relative;
        transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) box-shadow;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: .5vw;
        width: 3vw;
        height: 3vw;
    }
    .burger{
        width: 100%;
        &::after, &::before{
            content: "";
            display: block;
            height: 1px;
            width: 40%;
            margin: auto;
            background-color: white;
            position: relative;
            transition: transform 0.3s;
        }

        &::after{
            top: -5px;
        }

        &::before{
            top: 5px;
        }
    }

    .burgerActive{

        &::after{
            transform: rotate(45deg);
            top: -1px;
        }

        &::before{
            transform: rotate(-45deg);
            top: 0px;
        }
        
    }
}

@media only screen and (max-width: 600px) {
    .header{
        .button{
            width: 7vw;
            height: 7vw;
        }
    }
    
    .brochure{
        height: 7vw;
        font-size: 3vw;

    }
}
