.logo{
    position: relative;
    width: 20vw;
    height: 20vw;
    overflow: hidden;
}

.logo img{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.venue{
    width: 20vw;
    aspect-ratio: 1;
}

.socials{
    width: 20vw;
    aspect-ratio: 1;
}

.creator{
    text-align: center;
    position: relative;
    height: 30vh;
}

@media screen and (max-width: 600px) {
    .logoContainer{
        flex-direction: column;
        align-items: center;
        gap: 1vw;
    }

    .logo{
        width: 30vw;
        height: 30vw;
    }

    .venue{
        width: 40vw;
        height: 20vh;
    }

    .venue h1{
        font-size: 4vw;
    }

    .venue h3{
        font-size: 2vw;
    }

    .socials{
        width: 60vw;
        text-align: center;
    }

    .socials h1{
        font-size: 4vw;
    }

    .socials h3{
        font-size: 2vw;
    }

    .socials div{
        align-items: center;
        justify-content: center;
    }

    .sponser h1{
        font-size: 4vw;
    }

    .creator h1{
        font-size: 2vw;
    }

    .creator hr{
        margin-bottom: 10vw;
    }

    .creator div a{
        font-size: 4vw;
    }
}
